/*----------------------------------------------------
                    Global Style
----------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none !important;
}

body {
  overflow-x: hidden;
}

a,
a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
  color: #fff
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 48px;
  line-height: 50px;
}

h2 {
  font-size: 40px;
  line-height: 45px;
}

h3 {
  font-size: 30px;
  line-height: 34px;
}

h4 {
  font-size: 24px;
  line-height: 27px;
}

h5 {
  font-size: 21px;
  line-height: 25px;
}

h6 {
  font-size: 17px;
  line-height: 20px;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #737373;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.title-h {
  text-align: center;
  font-size: 38px;
  line-height: 42px;
  margin-top: 6px;
}

.title-h .p-relative:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30%;
  width: 100%;
  background-color: #2f3dff;
  opacity: 0.2
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.flex-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}